body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(240,240,240);
    font-family: sans-serif;
    font-size: 95%;
}

header{
    background: grey;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    display: flex;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    text-align: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
    font-family: 'Aldrich', sans-serif;
}

h1,h2,a{
    font-family: 'Aldrich', sans-serif;
}

h1{
    font-size: 8vh;
    line-height: 10vh;
    margin: 1vh 0vh 0vh 1vh;
}

.score-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    width: 60vw;
}

.player-score{
    display: flex;
    border: .5px solid white;
    max-width: 30vw;
    margin: auto 1vw;
    padding: .1vh 2vw;
    justify-content: space-around;
    float: right;
}

#game-container{
    margin: 2vh auto;
    padding-top: 10vh;
}

#message-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 14vh;
}

#message{
    border: .75px solid dimgray;
    width: 30vw;
    display: flex;
    justify-content: center;
}

#new-button{
    width: 10vw;
    margin: 0 auto;
    font-family: 'Aldrich', sans-serif;
    padding: 1vh;
    background: white;
}

.color-block{
    width: 4vh;
    height: 4vh;
    border: .2px solid black;
    margin: auto .5vw;
}

.square{
    width: 10vh;
    height: 10vh;
    border: .5vh solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square-row{
    margin-left: 1vh;
}

.dot{
    width: 2vh;
    height: 2vh;
    background: black;
    border-radius: 100%;
}

.dash{
    background: transparent;
}

.selected{
    background: black;
    pointer-events: none;
}

.dash:hover{
    background: turquoise;
}

.horizontal-dash{
    width: 10vh;
    height: 1vh;
    border-top: .5vh solid white;
    border-bottom: .5vh solid white;
}

.vertical-dash{
    width: 1vh;
    height: 10vh;
    border-right: .5vh solid white;
    border-left: .5vh solid white;
}

.fill{
    width: 10vh;
    height: 10vh;
}

.modal-window{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.7);
    top:0;
    left:0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-modal-button{
    margin-bottom: 4vh;
    float: right;
}

.message{
    margin: 0 auto;
    width: 40vw;
    padding: 1vh 10vh 3vh 10vh;
    background: rgb(240,240,240);
}

.panel{
    margin: 0 auto;
    width: 40vw;
    height: 50vh;
    padding: 1vh 10vh 3vh 10vh;
    background: rgb(240,240,240);
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.hidden{
    display: none;
}

@media only screen and (max-width: 600px) {
    body{
        font-size: 80%;
    }
    header{
        height: 17.5vh;
    }
    h1{
        margin: 0 5vw 0 2vw;
    }
    h2{
        font-size: 90%;
    }
    .score-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .player-score{
        height: 7vh;
        width: 33vw;
        margin: 2px;
    }
    #message-container{
        top: 18vh;
    }
    #game-container{
        padding-top: 5vh;
    }
  }

